body{
    background-color: #1D1E24;
}

*{
    font-family: "Protest Strike", sans-serif;
    /**font-weight: 400;**/
    font-style: normal;
    color: white;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline 2px solid;
    color: gray;
    transition: .7s;
}

.quicksand-para{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* You can choose a value between 300 and 700 */
    font-style: normal;
  }
  
  button:hover{
    transform: scale(1.1);
    transition: .7s;
  }

  i:hover{
    transform: scale(1.1);
    transition: .7s;
  }

  *::-webkit-scrollbar{
    display: none;
  }

  .zoom:hover{
    transform: scale(1.1);
  }

  .zoom{
    transition:  .7s;
  }

.sixtyfour-styled{
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}